* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bakbak One", cursive;
}

body {
  font-family: "Bakbak One", cursive;
}

/* color */

:root {
  --green: #07fea3;
  --white: #e8eaea;
  --grey: ;
  --dark-grey: #11181e;
}

#navigation {
  background-color: var(--dark-grey);
  padding: 15px 0px;
}

#logo {
  font-size: 30px;
}

#unorder-list {
  margin-left: 10%;
}

#menu-item {
  color: white;
}

.nav-item {
  margin: 12px;
}

/* .nav-sign-in-button {
  border: 1px solid #07fea3;
  padding: 2px 8px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #07fea3;
  color: #030d12;
}

#nav-sign-in-button:hover{
    background-color: aquamarine;
    color: #5b5f5f;
} */

.register-container {
  margin-left: auto;
}

.register-button {
  border: 1px solid #07fea3;
  padding: 2px 8px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #07fea3;
  color: #030d12;
}

.register-button:hover:hover {
  background-color: aquamarine;
  color: #5b5f5f;
}

/* Starting */

#hero {
  padding: 15% 0%;
  text-align: center;
  background-image: url(/assets/bg/banner_bg_3.jpg);
}

.heading-container {
  margin-bottom: 8px;
  
}

.heading-text {
  color: #07fea3;
  padding: 0% 4%;
  font-size: 35px;
}

.heading-span {
  color: #e8eaea;
}

.sub-heading-text {
  color: #e8eaea;
}
.description-container {
  padding: 1% 19%;
  margin-bottom: 8px;
}

.description-text {
  color: white;
  padding: 0% 10%;
}

/* .button-main-container{
    display: flex;
    justify-content: center;

} */

.button-container {
  margin: 10px;
}

.button {
  padding: 10px 20px;
  /* border: 1px solid #07FEA3; */
  border-radius: 5px;
  background-color: #07fea3;
  text-decoration: none;
  font-size: 18px;
  color: #030d12;
}

.button:hover {
  background-color: aquamarine;
  color: #5b5f5f;
}

/* Second section */

#work-flow-main-container {
  text-align: center;
  padding: 10% 5%;
  background: url(/assets/bg/banner_bg_3.jpg);
  background-position: center;
  background-size: cover;
}

.work-inner-main-container {
  display: flex;
}

.box {
  padding: 10% 4%;
}

.box-body {
  margin-top: 10px;
  padding: 0% 5%;
}
.icon {
  color: #07fea3;
  font-size: 50px;
}

.box-heading {
  color: whitesmoke;
}
.box-text {
  color: #5b5f5f;
}

.box {
  margin: 8px;
  padding: 2% 4%;
  border-radius: 5px;
}

/* Last section */

#footer {
  padding-top: 13em;
}
.title-container {
  margin-bottom: 4em;
  text-align: center;
}

.footer-title {
  color: var(--white);
  text-align: center;
  line-height: 1.4;
  font-weight: bold;
  font-size: 45px;
}

.discord-link-container {
  margin-bottom: 4em;
  text-align: center;
}

.discord-link {
  border: 1px solid var(--green);
  border-radius: 3px;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 25px;
  color: var(--dark-grey);
  background-color: var(--green);
}

.social-icon-main-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.social-icon-inner-container {
  margin: 15px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px 15px;
  background-color: var(--white);
  justify-content: center;
}

.media-icon {
  font-size: 20px;
  color: var(--dark-grey);
}


.second-description-container{
  padding: 0% 10%;
  
}
.second-description{
  color: whitesmoke;
}


@media screen and (min-width:900px ) {
  .second-description{
     display: none;
    
  }

  
  
    
  

}






/* Mobile */
@media screen and (max-width: 900px) {
  #hero {
    padding: 18% 0%;
  }

  .heading-container {
    padding-top: 16%;
    
  }

  .work-inner-main-container {
    flex-direction: column;
  }

  /* .sign-in-button-container{
} */

  .register-container {
    margin-top: 15px;
  }

  .description-text {
    display: none;
  }
  .second-description-container{
    margin-bottom: 8%;
  
  }
}
