* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

:root {
  --white: #e8eaea;
  --green: #07fea3;
  --gray: #030d12;
  --dark-grey: #11181e;
  --primary-font: "Bakbak One", cursive;
}

/* navbar start*/
.navbar-custom {
  background-color: var(--dark-grey);
  font-family: "Bakbak One", cursive;
}
#navbar-custom {
  background-color: var(--dark-grey);
  color: var(--white);
}
#navbar-custom-brand {
  color: var(--green);
  font-family: var(--primary-font);
  font-size: 30px;
}

#navbar-custom-nav {
  font-size: 20px;
  margin-left: 5%;
}

#navbar-custom-nav a {
  color: var(--white);
}

#navbar-custom-nav a:hover {
  color: var(--green);
}
#navbar-custom-nav a:focus {
  color: var(--green);
}

.navbar-custom-items {
  margin: 5%;
}

/* Wallet connect start */
.connect-ctn {
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.connect {
  background: var(--green);
  color: var(--gray);
  border: none;
  text-align: center;
  width: 125px;
  height: 45px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px var(--gray);
}
.connect:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--white);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.connect:hover,
.connect:focus,
.connect:active {
  color: var(--dark-grey);
}
.connect:hover:before,
.connect:focus:before,
.connect:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* Wallet connect end */

/* Hero start */

#hero {
  width: 100%;
  height: 100%;
  padding: 5%;
  background: url(/assets/bg/v5-baner5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}

.hero_title {
  font-family: var(--primary-font);
  font-size: 60px;
  text-transform: capitalize;
  cursor: pointer;
}
.hero_text {
  cursor: pointer;
}

.about_span {
  color: var(--green);
  cursor: pointer;
}
.about_span a {
  color: var(--green);
  cursor: pointer;
  text-decoration: none;
}

.dog_container {
  width: 90%;
  height: 90%;
  border: 10px dotted var(--gray);
  cursor: pointer;
}

/* About us */

#about_us {
  text-align: center;
  background: url(/assets/bg/h1_about_us_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1%;
}

#about_us h1 {
  margin: 3%;
}

.about_subtitle {
  font-family: var(--primary-font);
  font-size: 45px;
  text-align: left;
  color: var(--green);
}

.about_text {
  color: var(--white);
  text-align: center;
  margin-top: 5%;
  padding: 2%;
  font-size: 21px;
  cursor: pointer;
  font-family: var(--primary-font);
}

.about_text p {
  cursor: pointer;
  text-align: left;
}

.about_box_ctn {
  margin: 10%;
  cursor: pointer;
}

.about_box {
  padding: 3%;
  margin: 2%;
  background: #31313144;
  color: var(--white);
  font-family: var(--primary-font);
  cursor: pointer;
}
.about_box h2 {
  text-align: left;
  cursor: pointer;
}

.about_box_text {
  text-align: left;
  cursor: pointer;
}

.divider {
  color: var(--white);
  height: 8px;
}

/* Collection section */

#collection {
  padding: 10%;
  background: url(/assets/bg/v1_footer_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.collect_title {
  text-align: center;
  font-family: var(--primary-font);
  color: var(--green);
}

.collection_text {
  width: 100%;
  margin-top: 4%;
  font-family: var(--primary-font);
  color: var(--white);
}
.collection_text p {
  text-align: center;
}


.main-slider-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.slide-inner-container{
  margin: 15px;
}

.nft-img{
  width: 100%;
  border-radius: 10px;
  border: 2px solid white;
  padding: 3px;
}


/* Roadmap starts */
#roadmap {
  font-family: var(--primary-font);
  margin-top: 20%;
  width: 100%;
  height: auto;
}

.roadmap_title {
  margin: 8%;
  text-align: center;
  color: var(--white);
  font-size: 45px;
}

.roadmap_ctn {
  font-family: var(--primary-font);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.timeline{
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul{
  list-style: none;
  
}

.timeline ul li{
  padding: 20px;
  background: var(--dark-grey);
  border-radius: 10px;
  margin-bottom: 20px;
  background: var(--white);
  color: var(--dark-grey );
}


.timeline ul li:last-child{
  margin-bottom: 0;
}

.timeline_content h1{
  font-size: 35px;
  margin-bottom: 10px;
  color: var(--dark-grey);
}
.timeline_content p{
  font-size: 15px;
  font-weight: 100;
}
.timeline_content span{
  color: green;
  font-size: 25px;
}

.hi_slide{
  width: 100%;
  height:392px;
  margin: 100px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--green);
}

 .hi_slide > div > img{
  width: 100%;
  height: 60%;
  padding: 5%;
 }
/* Big screen and tabs */
@media only screen and (min-width: 768px) {
  .timeline::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: 50%;
    background: var(--green);
    transform: translateX(-50%);
  }
  .timeline ul li{
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even){
    float: right;
    clear:  left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;

  }
  .timeline ul li::after{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background: var(--white);
    border-radius: 50%;
    top: -7;
  }
  .timeline ul li:hover::after{
    background: var(--green);
  }

  .timeline ul li:nth-child(odd)::after{
    transform: translateX(50%, -50%); 
    right: -21.5px;
  }
  .timeline ul li:nth-child(even)::after{
    transform: translateX(-50%, -50%); 
    left: -53px;
  }

}

/* mobile */
@media screen and (max-width: 900px) {
  .navbar-custom-brand {
    margin: 3%;
  }
  #navbar-custom-brand {
    color: var(--green);
    font-family: var(--primary-font);
    font-size: 20px;
  }

  .connect-ctn {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .connect {
    background: var(--green);
    color: var(--gray);
    border: none;
    text-align: center;
    width: 155px;
    height: 45px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px var(--gray);
  }

  #hero {
    width: 100%;
    height: 100%;
    padding: 3%;
    background: url(/assets/bg/v5-baner5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
  }

  .hero_title {
    font-family: var(--primary-font);
    font-size: 35px;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    margin-top: 9%;
  }
  .hero_text {
    font-size: 15px;
    text-align: center;
  }

  .dog_container {
    width: 200px;
    height: 200px;
    border: 10px dotted var(--gray);
    cursor: pointer;
    margin: 0 5% 15% 18%;
    padding: 5%;
  }

  /* About us start */
  .about_subtitle {
    text-align: center;
  }

  .about_text {
    color: var(--white);
    text-align: center;
    margin-top: 5%;
    font-size: 17px;
    cursor: pointer;
    font-family: var(--primary-font);
  }

  .about_text p {
    cursor: pointer;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.18);
    padding: 5%;
  }
  .about_box {
    margin: 10%;
  }

  .collect_title {
    font-size: 27px;
  }
  .collection_text {
    width: 100%;
    margin-top: 4%;
    padding: 3%;
    font-family: var(--primary-font);
    color: var(--white);
  }
  .collection_text p {
    text-align: center;
  }

  .launch_date {
    /* background: #11181e70; */
    margin-top: 15%;
  }
  .launchDate_title h2 {
    font-size: 25px;
  }

  .launchDate_inner_ctn {
    border-radius: 20%;
    width: 100px;
    height: 9gitfggit0px;
  }
  .launchDate_inner_ctn span {
    color: var(--white);
    font-size: 17px;
  }
  .launchDate_inner_ctn p {
    color: var(--green);
    font-size: 12px;
  }
  .roadmap_title{
    font-size: 40px;
    margin-top: 15%;
  }
  .timeline{
    width: 800px;
    height: auto;
    text-align: center;

  }
  
  .timeline ul li{
    padding: 20px;
    background: var(--dark-grey);
    border-radius: 10px;
    margin-bottom: 20px;
    background: var(--white);
    color: var(--dark-grey );
    text-align: center;
  }
  
  .hi_slide{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--green);
    width: 300px;
    height: 200px;
  }
  
  .main-slider-container{
    flex-direction: column;
  }
}
