@import 'mediaqueries';




// Color
$Black: #030d12;
$Green: #07fea3;
$Dark-grey: #11181e;
$white: #e8eaea;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.background {
  background-color: $Black;
  font-family: "Bakbak One", cursive;
}

#nav-bg {
  background-color: $Dark-grey;
  padding: 2% 0%;


  .logo {
    text-decoration: none;
    color: $Green;
    font-size: 35px;
    margin-right: 8%;
  }

  .menu-item{
    color: $white;
    font-size: 23px;

   
  }
  .menu-item:hover{
    color: $Green;

  }


}


// Inner body starts

#main-container{

  margin: 6%;

  

  .card{
    text-align: center;
    border-radius: 15px;
    padding: 0% 8%;


    #profile-img{

      border: 3px solid $Dark-grey;
      border-radius: 18%;
      width: 100%;
      margin-top: 3%;

    }
  }

  .card-2{
    border-radius: 15px;
    padding: 0% 2%;

    @include responsive(phone){
      margin-top: 5%;
    }
    
    

    .inner-card{

      background-color: $Dark-grey;
      color: $white;
      padding: 6% 7%;
      border-radius: 10px;
      margin: 3%;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    }
  }
  
}

footer{
  margin-top: 15%;
  
  color: $white;

  .footer-inner-container{
    text-align: center;
    background-color: $Dark-grey;
    padding: 1%;

    .footer-text{
      font-size: 20px;
    }
   
  }
}

